@import 'bootstrap';
@import 'bootstrap/theme';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Over+the+Rainbow';
@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';
@import 'https://fonts.googleapis.com/css?family=Reenie+Beanie';
@import 'https://fonts.googleapis.com/css?family=Architects+Daughter|Homemade+Apple|Nothing+You+Could+Do|Reenie+Beanie|Shadows+Into+Light';

body {
  font-family: 'Open Sans', sans-serif;
}



hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 8px 2px white;
}

hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.all-memories {
  text-align: center;
}

nav {
    margin-top: 10px;
      font-family: 'Over the Rainbow', cursive;
}


#name {
  font-style: italic;
  word-wrap: break-word;
  display: block;
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
}

.description {
  font-style: italic;
  word-wrap: break-word;
  display: block;
  font-family: 'Reenie Beanie', cursive;
  color: black;
  text-align: center;
}

#color {
  color: #ef3e3e;
  font-weight: bold;
  font-size: 30px;
}

#GA {
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
   margin-left: 240px;
   margin-top: 85px;
   margin-right: -80px
}


#GA-white {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 63%;
  margin-top: 46%;
  margin-right: -80px;
}


.button {
  margin-left: -25%;
  margin-top: -50px;
  display: inline-block;
  float: left
}

.col-md-8 {
    margin-bottom: 50px;
}


a {
  font-size: 18px;
  font-weight: bold;
}

.btn-xs {
    margin-left: 35%;
    font-size: 18px;
    color: white;
}

.btn-md {
    margin-left: 47%;
}

#delete {
  margin-left: 1%;
}

#warning {
  color: #B40404;
}

h3, h4 {
    font-family: 'Architects Daughter', cursive;
    color: white;
    font-size: 35px;
}

@media (max-width: 1200px) {
  .button {
    float: none;
  }
}
