<div class="memories">


{{!-- <h1>This is the place to store your memories</h1> --}}

{{!-- {{#each model as |memory| }}
   <h3>{{memory.name}}</h3>
   <h3>{{memory.description}}</h3>
   <h3>{{memory.cohort}}</h3>
{{/each}} --}}
</div>
{{outlet}}
