

<div class="memories">


{{#each model as |memory| }}

   <h3 id="color" class="all-memories">{{memory.name}}</h3>
   {{!-- {{/link-to}} --}}
   <h4 id="name" class="all-memories">"{{memory.description}}"</h4>
   <h4  class="all-memories">{{memory.cohort}}</h4>




   <hr class= "style-two">

{{/each}}
</div>





{{outlet}}
