<div class="button">
{{ga-button-white}}
</div>


 <div class="col-md-8 col-md-offset-2">


  {{#each model as |memory|}}
  <h4 id="name" class="all-memories">"{{memory.description}}"</h4>
  <h4 id="name" class="all-memories">Created on: {{memory.date}}</h4>


    {{#link-to 'update' memory class="btn btn-xs edit"}}
        Edit Your meMory
    {{/link-to}}

    {{#link-to 'memory' memory}}
    <button id="delete" class="btn btn-xs btn-danger" >
      Delete
    </button>
   <hr class= "style-five">
    {{/link-to}}
   {{/each}}


 </div>


{{outlet}}
