
<div class="memories">



<h4 id="name" class="all-memories">"{{memory.description}}"</h4>

<div class="edit-buttons">

  <h3 class="all-memories" id="warning">Are you sure you want to delete this memory?</h3>
  <button class="btn btn-md btn-danger" {{action "delete"}}>
    Delete
  </button>

  {{#link-to 'all-memories'}}
  <button class="btn btn-default">
   Go back  </button>
  {{/link-to}}
   <hr class= "style-two">

</div>
</div>
