<h3>{{memory.description}}</h3>

<div class="edit-buttons">
  {{!-- {{#link-to 'update' memory class="btn btn-xs edit"}}
      Edit Memory
  {{/link-to}} --}}
  <h3>Are you sure you want to delete this memory?</h3>
  <button class="btn btn-xs btn-danger" {{action "delete"}}>
    Delete
  </button>
  <h5>{{#link-to 'memories'}}Go back{{/link-to}}</h5>

</div>
