{{!-- <h2>{{memory.title}}</h2>
<h3>{{memory.artist}}</h3> --}}
<h3>{{memory.description}}</h3>

<div class="edit-buttons">
  {{!-- {{#link-to 'update' memory class="btn btn-xs edit"}}
      Edit Memory
  {{/link-to}} --}}
  <h3>Are you sure you want to delete this memory?</h3>
  <button class="btn btn-xs btn-danger" {{action "delete"}}>
    Delete
  </button>
  {{#link-to 'memories'}}Go back{{/link-to}}
</div>
