
{{#if isAuthenticated}}
{{#link-to 'new-memory'}}
<button id="GA-white" type="submit"><img src="https://i.imgur.com/hD0VLRJ.png" width="130px" height="210px" alt="Submit"></button>
{{/link-to}}
{{/if}}
